:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

#server-table > .table-striped thead th {
    background-color: #dd7d1e;
}

#server-table > .table-striped tbody tr:nth-of-type(odd) {
    background-color: #dd7d1e;
}

#server-listing-placeholder > td {
    background-color: #a2b229;
    user-select: none;
    -webkit-user-select: none;
}

#server-table > .table-striped tbody tr:nth-of-type(even),
th {
    background-color: #a2b229;
}

#server-table {
    font-size: 14pt;
    opacity: 0.9;
}

#of-intro-text {
    text-shadow: 1px 1px 8px #314601;
    color: #ffffff;
    font-size: 18px;
}

img {
    pointer-events: none;
}

:root {
    --gray-dark: #0a370e;
    --primary: #0099ff;
    --secondary: #ffffff;
    --dark: #ffffff;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    user-select: none;
    background-color: #314601;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

#of-about-button-div {
    position: fixed;
    bottom: 4px;
    right: 8px;
}

#of-about-flash-div {
    position: fixed;
    bottom: 4px;
    right: 8px;
}

#of-config-button-div {
    position: fixed;
    bottom: 4px;
    left: 8px;
}

.btn-primary {
    background-color: #008b8b;
}

.btn-success {
    background-color: #33aa33;
}

.btn-warning {
    background-color: #ff8822;
}

.btn-danger {
    background-color: #bb2222;
}

.form-check-input {
    width: 25px;
    height: 25px;
}

.form-check-label {
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1rem;
}

#of-aboutmodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

#of-addservermodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

#of-addloginmodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

#of-editservermodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

#of-deleteservermodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

#of-restoreserversmodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

#of-editconfigmodal > .modal-dialog > .modal-content {
    background-color: #0d4a4c;
    border-color: #15696f;
}

.form-control,
.form-control:focus {
    border-color: #15696f;
    background-color: #222;
    color: #fff;
}

select {
    border-color: #15696f;
    background-color: #222;
    color: #fff;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

button > i {
    pointer-events: none;
}

#of-logo {
    opacity: 0.9;
}

#server-table .server-listing-entry {
    cursor: pointer;
}

#client {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    clear: both;
}

.centered {
    margin: 0;
    top: 40%;
    -ms-transform: translateY(40%);
    transform: translateY(40%);
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pulsing {
    animation: pulse 2s infinite;
}
